<div class="container">
  <%= simple_form_for :sms, url: sms_path, method: "POST" do |f| %>
    <div class="form-group">
      <%= f.input :phone, input_html: {value: ""}, class: 'form-control' %>
      <%= f.input :body, as: :text, input_html: {value: ""}, class: 'form-control' %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
